Django==3.0.3
django-heroku==0.3.1
docutils==0.15.2
glob2==0.7
greenlet==0.4.15
grpcio==1.27.2
gunicorn==19.7.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
nlpk==0.0.6
nltk==3.4.5
numpy==1.17.2
numpydoc==0.9.1
pandas==0.25.1
pandocfilters==1.4.2
Pillow==6.2.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
psycopg2==2.7.5
psycopg2-binary==2.8.6
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
pytz==2019.3
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.4.1
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
whitenoise==3.3.1
