Django==3.0.3
django-heroku==0.3.1
docutils==0.15.2
glob2==0.7
greenlet==0.4.15
grpcio==1.27.2
gunicorn==19.7.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
nlpk==0.0.6
nltk==3.4.5
numpy==1.17.2
numpydoc==0.9.1
pandas==0.25.1
pandocfilters==1.4.2
Pillow==6.2.0
psycopg2==2.7.5
psycopg2-binary==2.8.6
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.3
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.4.1
whitenoise==3.3.1
